{% extends "base.html" %} {% block content %}
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">{{ title }}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">
          <div>
            <div>
              <form method="post">
                {% csrf_token %} {{ form.as_p }}
                <input value="Save" type="submit" />
                <input value="Cancel" type="button" onclick="location.href='{% url "index" %}';">
              </form>
            </div>
          </div>
        </th>
      </tr>
    </tbody>
  </table>
</div>
{% endblock %}
