{% extends "base.html" %}

{% block content %}


<table class="table">
    <thead>
        <tr>
            <th scope="col">Edit list:</th>
        </tr>
        <tr>
            <th scope="col">{{ todo_list.title|upper}}</th>
            <th scope="col">
            <input value="Add a new item" type="button" onclick="location.href='{% url "item-add" todo_list.id %}'" />
            <input value="Delete this list" type="button"
                onclick="location.href='{% url "list-delete" todo_list.id %}'" /></th>
        </tr>
    </thead>
     <tbody>
    <tr>
        <th scope="row">
            <ol>
                {% for todo in object_list %}
            <li>
                <div>
                    <div role="button" onclick="location.href='{% url "item-update" todo_list.id todo.id %}'">
                        {{ todo.title }}
                        (Due {{ todo.due_date }})
                    </div>
            </li>
                {% empty %}
                <h4>You have no lists!</h4>
                {% endfor %}
            </ol>
        </th>
    </tr>
            
</table>
{% endblock %}
